*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height:100vh;
}
.my{
    height: 30px;
  width: 30px; /* maintains aspect ratio */
  object-fit: cover;
   
    border-radius: 50px;


}
/* .right>img{
    height: 40px;
} */
header{
    display: flex;
    max-width:1280px;
    margin: auto;
    margin-top: 20px;
    padding: 20px 10px;
    justify-content: space-between;
    border-radius: 40px;
    box-shadow: 2px 3px 10px grey;
    top: 20px;
    width:100%;
    align-items: center;
}
.logo{
    font-size: 48px;
    animation: upDown 0.5s ease alternate
    infinite;
}
.logo>span{
    color: blueviolet;
}
nav{
    display: flex;
    align-items: center;
    gap: 20px;
}
nav>ul{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 20px;
}
nav>ul>li>a{
    font-size: 24px;
    color: black;
    text-decoration: none;
}
nav>ul>li:hover>a{
    color: blue;
}
nav button{
    padding: 20px;
    border-radius: 50px;
    background-color: rgb(174, 96, 96);
    color: white;
    font-size: 24px;
}
#banner{
    display: flex;
    max-width: 1280px;
    margin: 50px auto;
    gap: 50px;
}
.right>img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    animation: slideFromRight 2s ease;
}
.left{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;

}
.left>h2{
    font-size: 32px;

}
#role{
    color: blueviolet;
}
.left>p{
    font-size: 24px;
    color: gray;
    text-align: justify;
    line-height: 28px;
}
.button>button{
    padding: 15px 30px;
    background-color:rgb(225, 206, 206);
    color: white;
    font-size: 24px;
    border-radius: 20px;

}
.secondbtn{
background-color: white !important; color: black;
border: 1px solid rgb(117, 100, 100);
}
.secondbtn>a{
    color: black;
    
}
.title{
    text-align: center;
    font-size: 32px;
    margin: 2px auto;
    background-image: linear-gradient(to right,rgb(92, 85, 85),blue);
    background-clip: text;
    color: transparent;
}
#section{
    margin: 10px auto;
    max-width: 1280px;
    display: flex;
    gap: 30px;
    

}
.skill-tech{
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgb(16, 233, 241);
    height: 350px;
    width: 450px;
    

}
.skills{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    
}
.skill{
    height: 100%;
    width: 100%;
}
#projects{
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    height: 60%;
    gap: 10px;
    width: 100%;

}
.project{

    padding: 20px;

    border-radius: 20px;
    box-shadow: 10px 10px 10px rgb(13, 176, 235);
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    height: 600px;
   
}
.project>img{
    width: 100%;
    height: 300px;

}
.project>button{
    background-color:rgb(165, 153, 153);
    color: white;
    font-size: 24px;
    padding: 10px;
    border-radius: 10px;
}
#contact{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px blueviolet;

}

footer{
    background-color: black;
    color: white;
    padding: 10px;
   text-align: center;
}
/* icon  watsapp*/
.floating-watsapp{
    position: fixed;
    bottom: 20px;
    right: 10px;

}
.floating-watsapp img{
    height: 100px;
    width: 100px;
    animation: zoomIn 0.5s ease infinite
    alternate;

}
/* animations */
@keyframes slideFromRight{
  0%{
    transform: translateX(500px);
  }
  100%{
  transform: translateX(0px);
  }
}
@keyframes upDown{
  100%{
  transform: translateY(-10px);
  }
}
@keyframes zoomIn{
  100%{
  transform: scale(1.1);
  }
}

/* media queries */
   @media (max-width:576px){
      header{ flex-direction: column; gap:20px; margin: 50px;
    max-width: 350px;}
      nav{flex-direction: column;}
      #banner{
        flex-direction: column;
      }
      section{
        margin: 25px !important;
        flex-direction: column;
      }
      .right>img{display: none;}
      .buttons{ display: flex; flex-direction: column;gap: 10px;}
      #skills{
        flex-direction: column;
      }
      #projects{
        grid-template-columns: repeat(1,1fr);
      }
   }
   @media (min-width:577px) and (max-width:768px){
      header{ flex-direction: column; gap:20px; margin: 20px;}
      nav{flex-direction: column;}
      #banner{
        flex-direction: column;
      }
      
      section{
        margin: 40px !important;
        /* flex-direction: column; */
      }
      .buttons{ display: flex; flex-direction: column;gap: 10px;}
      #skills{
        flex-direction: column;
      }
      #projects{
        grid-template-columns: repeat(2,1fr);
        flex-direction: column;
      }
      .project{
        flex-direction: column;
      }
   }
    @media (min-width:769px) and (max-width:996px){
   
   }
    @media (min-width:996px) and (max-width:1024px){
   
   }
/* @keyframes slideFormRight{
0%{
    transform: translateX(500px);
}
100%{
    transform:translateX(0px) ;
}







}
@keyframes upDown{
    100%{
        transform: translateY(-10px);
    }
}
@keyframes zoomIn{
    100%{
        transform: scale(1.1);
    }
}
/* media querise */
/* @media (max-width:576px){
    header{
        flex-direction: column;
        gap: 20px;
        margin: 50px;
    }

    nav{
        flex-direction: column;
    }
}
@media (min-width:576px)and(max-width:768px){

}
@media (min-width:769px)and(max-width:996px){
    
}
@media (min-width:996px)and(max-width:1024px){
    
/* } */ 
.resume{
    border-radius: 10px;
    margin-left: 20px;
    box-shadow: 5px 5px 10px rgb(11, 232, 229);
    /* background-image: linear-gradient(rgb(97, 241, 248),rgb(236, 141, 141)); */
    height: 700px;
    width: 550px;

}
.effect1:hover{
   transform: scale(1.1);
}
.effect3:hover{
   transform: translateX(100px);
}